CREATE DATABASE OnlineBookStore;
GO

USE [OnlineBookStore]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Author] [nvarchar](255) NOT NULL,
	[PublisherID] [nvarchar](10) NULL,
	[CategoryID] [nvarchar](10) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Url] [nvarchar](255) NOT NULL,
	[Pages] [int] NOT NULL,
	[Barcode] [nvarchar](30) NOT NULL,
	[Sku] [nvarchar](30) NOT NULL,
	[isActive] BIT NULL DEFAULT 1,
	[ReleaseYear] [int] NULL,
	[CompareAtPrice] [decimal](10, 2) NULL,
	[Weight] [nvarchar](50) NULL
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookStock]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookStock](
	[BookID] [nvarchar](20) NOT NULL,
	[WarehouseID] [nvarchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [nvarchar](10) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercent] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCoupons]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCoupons](
	[OrderCouponID] [nvarchar](10) NOT NULL,
	[OrderID] [nvarchar](10) NULL,
	[CouponID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderCouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [nvarchar](10) NOT NULL,
	[OrderID] [nvarchar](10) NULL,
	[BookID] [nvarchar](20) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](10) NOT NULL,
	[AccountID] [nvarchar](10) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON


-- =============================
-- Author/BookAuthor normalization block (idempotent, after Books data)
-- =============================

-- ĐÃ SỬA: Tất cả các link .jpg?v= thành .jpg?v= trong ImageURL

-- =============================
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [nvarchar](10) NOT NULL,
	[PublisherName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [nvarchar](10) NOT NULL,
	[AccountID] [nvarchar](10) NULL,
	[BookID] [nvarchar](20) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingInfo]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingInfo](
	[ShippingID] [nvarchar](10) NOT NULL,
	[OrderID] [nvarchar](10) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[AddressLine] [nvarchar](255) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NULL,
	[ShippingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](10) NOT NULL,
	[AccountID] [nvarchar](10) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 8/4/2025 9:19:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (N'CAT001', N'Phát triển bản thân', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (N'CAT002', N'Văn học nước ngoài', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (N'CAT003', N'Văn học Việt Nam', NULL)
GO 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address]) VALUES (N'PUB001', N'Dân Trí', N'Hà Nội')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address]) VALUES (N'PUB002', N'Văn Học', N'TP.HCM')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address]) VALUES (N'PUB003', N'Hội Nhà Văn', N'Hà Nội')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D105346CE1DC13]    Script Date: 8/4/2025 9:19:45 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA7632323DE]    Script Date: 8/4/2025 9:19:45 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shipping__C3905BAE035283B4]    Script Date: 8/4/2025 9:19:45 PM ******/
ALTER TABLE [dbo].[ShippingInfo] ADD UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__349DA5871FAB6278]    Script Date: 8/4/2025 9:19:45 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[ShippingInfo] ADD  DEFAULT ('Vietnam') FOR [Country]
GO
ALTER TABLE [dbo].[ShippingInfo] ADD  DEFAULT (getdate()) FOR [ShippingDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[BookStock]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookStock]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[OrderCoupons]  WITH CHECK ADD FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[OrderCoupons]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[ShippingInfo]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(1) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO

IF OBJECT_ID(N'dbo.Author', N'U') IS NULL
BEGIN
	CREATE TABLE [dbo].[Author] (
		[AuthorID] [nvarchar](10) NOT NULL PRIMARY KEY,
		[Name] NVARCHAR(255) NOT NULL UNIQUE,
		[Bio] NVARCHAR(255) NULL,
		[Country] NVARCHAR(255) NULL
	);
END
GO
IF OBJECT_ID(N'dbo.BookAuthor', N'U') IS NULL
BEGIN
	CREATE TABLE [dbo].[BookAuthor] (
		[BookID] NVARCHAR(20) NOT NULL,
		[AuthorID] [nvarchar](10) NOT NULL,
		[AuthorName] NVARCHAR(255) NOT NULL,
		PRIMARY KEY ([BookID], [AuthorID])
	);
END
GO

-- =============================
-- Shopping Cart Tables: Cart & CartDetail
-- (Idempotent - will only create if not exists)
-- =============================

IF OBJECT_ID(N'dbo.Cart', N'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Cart](
        [CartID] NVARCHAR(10) NOT NULL,
        [AccountID] NVARCHAR(10) NOT NULL,
        [CreatedAt] DATETIME NULL,
        [UpdatedAt] DATETIME NULL,
        CONSTRAINT PK_Cart PRIMARY KEY CLUSTERED ([CartID] ASC)
    );
END
GO

-- One Cart per User by default — remove if you need multiple carts per user
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes i
    JOIN sys.objects o ON i.object_id = o.object_id
    WHERE i.is_unique = 1 AND i.name = 'UQ_Cart_AccountID' AND o.name = 'Cart'
)
BEGIN
    ALTER TABLE [dbo].[Cart]
    ADD CONSTRAINT UQ_Cart_AccountID UNIQUE ([AccountID]);
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.default_constraints dc
    JOIN sys.columns c ON dc.parent_object_id = c.object_id AND dc.parent_column_id = c.column_id
    WHERE dc.name = 'DF_Cart_CreatedAt' AND OBJECT_NAME(dc.parent_object_id) = 'Cart'
)
BEGIN
    ALTER TABLE [dbo].[Cart] ADD CONSTRAINT DF_Cart_CreatedAt DEFAULT (GETDATE()) FOR [CreatedAt];
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.default_constraints dc
    JOIN sys.columns c ON dc.parent_object_id = c.object_id AND dc.parent_column_id = c.column_id
    WHERE dc.name = 'DF_Cart_UpdatedAt' AND OBJECT_NAME(dc.parent_object_id) = 'Cart'
)
BEGIN
    ALTER TABLE [dbo].[Cart] ADD CONSTRAINT DF_Cart_UpdatedAt DEFAULT (GETDATE()) FOR [UpdatedAt];
END
GO

IF OBJECT_ID(N'dbo.CartDetail', N'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[CartDetail](
        [CartDetailID] NVARCHAR(10) NOT NULL,
        [CartID] NVARCHAR(10) NOT NULL,
        [BookID] NVARCHAR(20) NOT NULL,
        [Quantity] INT NOT NULL,
        [UnitPrice] DECIMAL(10,2) NULL,
        [CreatedAt] DATETIME NULL,
        [UpdatedAt] DATETIME NULL,
        CONSTRAINT PK_CartDetail PRIMARY KEY CLUSTERED ([CartDetailID] ASC)
    );
END
GO

-- Prevent duplicate Book in same cart
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes i
    JOIN sys.objects o ON i.object_id = o.object_id
    WHERE i.is_unique = 1 AND i.name = 'UQ_CartDetail_CartID_BookID' AND o.name = 'CartDetail'
)
BEGIN
    CREATE UNIQUE NONCLUSTERED INDEX UQ_CartDetail_CartID_BookID
    ON [dbo].[CartDetail]([CartID], [BookID]);
END
GO

-- Defaults for timestamps
IF NOT EXISTS (
    SELECT 1 FROM sys.default_constraints dc
    JOIN sys.columns c ON dc.parent_object_id = c.object_id AND dc.parent_column_id = c.column_id
    WHERE dc.name = 'DF_CartDetail_CreatedAt' AND OBJECT_NAME(dc.parent_object_id) = 'CartDetail'
)
BEGIN
    ALTER TABLE [dbo].[CartDetail] ADD CONSTRAINT DF_CartDetail_CreatedAt DEFAULT (GETDATE()) FOR [CreatedAt];
END
GO
IF NOT EXISTS (
    SELECT 1 FROM sys.default_constraints dc
    JOIN sys.columns c ON dc.parent_object_id = c.object_id AND dc.parent_column_id = c.column_id
    WHERE dc.name = 'DF_CartDetail_UpdatedAt' AND OBJECT_NAME(dc.parent_object_id) = 'CartDetail'
)
BEGIN
    ALTER TABLE [dbo].[CartDetail] ADD CONSTRAINT DF_CartDetail_UpdatedAt DEFAULT (GETDATE()) FOR [UpdatedAt];
END
GO

-- Quantity check
IF NOT EXISTS (
    SELECT 1 FROM sys.check_constraints WHERE name = 'CK_CartDetail_Quantity_Positive'
)
BEGIN
    ALTER TABLE [dbo].[CartDetail] WITH CHECK ADD CONSTRAINT CK_CartDetail_Quantity_Positive
    CHECK ([Quantity] >= 1);
END
GO

-- Add foreign keys
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Cart_Users')
BEGIN
    ALTER TABLE [dbo].[Cart]
    ADD CONSTRAINT FK_Cart_AccountID FOREIGN KEY ([AccountID]) REFERENCES [dbo].[Accounts]([AccountID]);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_CartDetail_Cart')
BEGIN
    ALTER TABLE [dbo].[CartDetail]
    ADD CONSTRAINT FK_CartDetail_Cart FOREIGN KEY ([CartID]) REFERENCES [dbo].[Cart]([CartID]);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_CartDetail_Books')
BEGIN
    ALTER TABLE [dbo].[CartDetail]
    ADD CONSTRAINT FK_CartDetail_Books FOREIGN KEY ([BookID]) REFERENCES [dbo].[Books]([BookID]);
END
GO
INSERT INTO [dbo].[Author] ([Name])
SELECT DISTINCT [Author]
FROM [dbo].[Books]
WHERE [Author] IS NOT NULL AND LTRIM(RTRIM([Author])) <> ''
	AND [Author] NOT IN (SELECT [Name] FROM [dbo].[Author]);
GO
INSERT INTO [dbo].[BookAuthor] ([BookID], [AuthorID], [AuthorName])
SELECT B.[BookID], A.[AuthorID], A.[Name]
FROM [dbo].[Books] B
JOIN [dbo].[Author] A ON B.[Author] = A.[Name]
WHERE NOT EXISTS (
SELECT 1 FROM [dbo].[BookAuthor] BA
WHERE BA.[BookID] = B.[BookID] AND BA.[AuthorID] = A.[AuthorID]
);
GO
-- Add foreign keys if not exists
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_BookAuthor_Books')
BEGIN
	ALTER TABLE [dbo].[BookAuthor]
	ADD CONSTRAINT FK_BookAuthor_Books FOREIGN KEY ([BookID]) REFERENCES [dbo].[Books]([BookID]);
END;
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_BookAuthor_Author')
BEGIN
	ALTER TABLE [dbo].[BookAuthor]
	ADD CONSTRAINT FK_BookAuthor_Author FOREIGN KEY ([AuthorID]) REFERENCES [dbo].[Author]([AuthorID]);
END;
GO

-- =============================
-- Publisher and Category Mapping Functions for JSON Import
-- =============================

-- Function để lấy PublisherID từ tên publisher
CREATE OR ALTER FUNCTION dbo.GetPublisherID(@PublisherName NVARCHAR(255))
RETURNS NVARCHAR(10)
AS
BEGIN
    DECLARE @PublisherID NVARCHAR(10)
    
    -- Tìm publisher trong database (case-insensitive)
    SELECT @PublisherID = PublisherID 
    FROM Publishers 
    WHERE LOWER(LTRIM(RTRIM(PublisherName))) = LOWER(LTRIM(RTRIM(@PublisherName)))
    
    -- Nếu không tìm thấy, trả về ID của "Đang cập nhật"
    IF @PublisherID IS NULL
        SET @PublisherID = N'PUB011'
    
    RETURN @PublisherID
END
GO

-- Function để xác định CategoryID dựa trên thông tin sách
CREATE OR ALTER FUNCTION dbo.GetDefaultCategoryID(
    @Title NVARCHAR(255),
    @Author NVARCHAR(255),
    @Description NVARCHAR(MAX)
)
RETURNS NVARCHAR(10)
AS
BEGIN
    DECLARE @CategoryID NVARCHAR(10) = N'CAT002' -- Mặc định: Văn học nước ngoài
    DECLARE @TextToCheck NVARCHAR(MAX)
    
    SET @TextToCheck = LOWER(ISNULL(@Title, '') + ' ' + ISNULL(@Author, '') + ' ' + ISNULL(@Description, ''))
    
    -- Tác giả nước ngoài nổi tiếng
    IF @TextToCheck LIKE '%colleen hoover%' OR @TextToCheck LIKE '%haruki murakami%' OR 
       @TextToCheck LIKE '%guillaume musso%' OR @TextToCheck LIKE '%ray bradbury%'
        SET @CategoryID = N'CAT002' -- Văn học nước ngoài
    
    -- Tác giả Việt Nam
    ELSE IF @TextToCheck LIKE '%nguyễn nhật ánh%' OR @TextToCheck LIKE '%huỳnh mai liên%'
        SET @CategoryID = N'CAT003' -- Văn học Việt Nam
    
    -- Phát triển bản thân
    ELSE IF @TextToCheck LIKE '%phát triển%' OR @TextToCheck LIKE '%kỹ năng%' OR 
            @TextToCheck LIKE '%thành công%' OR @TextToCheck LIKE '%leadership%'
        SET @CategoryID = N'CAT001'
    
    -- Trinh thám - Kinh dí
    ELSE IF @TextToCheck LIKE '%trinh thám%' OR @TextToCheck LIKE '%kinh dị%' OR 
            @TextToCheck LIKE '%bí ẩn%' OR @TextToCheck LIKE '%detective%'
        SET @CategoryID = N'CAT004'
    
    -- Khoa học viễn tưởng
    ELSE IF @TextToCheck LIKE '%khoa học viễn tưởng%' OR @TextToCheck LIKE '%sci-fi%' OR 
            @TextToCheck LIKE '%tương lai%'
        SET @CategoryID = N'CAT005'
    
    -- Tâm lý học
    ELSE IF @TextToCheck LIKE '%tâm lý%' OR @TextToCheck LIKE '%psychology%' OR 
            @TextToCheck LIKE '%cảm xúc%'
        SET @CategoryID = N'CAT006'
    
    -- Kinh tế - Kinh doanh
    ELSE IF @TextToCheck LIKE '%kinh tế%' OR @TextToCheck LIKE '%kinh doanh%' OR 
            @TextToCheck LIKE '%business%' OR @TextToCheck LIKE '%marketing%'
        SET @CategoryID = N'CAT007'
    
    -- Lịch sử
    ELSE IF @TextToCheck LIKE '%lịch sử%' OR @TextToCheck LIKE '%history%' OR 
            @TextToCheck LIKE '%historical%'
        SET @CategoryID = N'CAT008'
    
    -- Thiếu nhi
    ELSE IF @TextToCheck LIKE '%thiếu nhi%' OR @TextToCheck LIKE '%trẻ em%' OR 
            @TextToCheck LIKE '%children%'
        SET @CategoryID = N'CAT009'
    
    -- Tiểu thuyết tình yêu
    ELSE IF @TextToCheck LIKE '%tình yêu%' OR @TextToCheck LIKE '%romance%' OR 
            @TextToCheck LIKE '%love story%'
        SET @CategoryID = N'CAT010'
    
    RETURN @CategoryID
END
GO

-- =============================================
-- TRIGGER TỰ ĐỘNG ÁNAHJ XẠ AUTHOR
-- =============================================

-- Stored Procedure để tạo hoặc lấy AuthorID
CREATE OR ALTER PROCEDURE dbo.GetOrCreateAuthorID
    @AuthorName NVARCHAR(255),
    @AuthorID NVARCHAR(10) OUTPUT
AS
BEGIN
    DECLARE @CleanAuthorName NVARCHAR(255)
    
    -- Làm sạch tên tác giả
    SET @CleanAuthorName = LTRIM(RTRIM(@AuthorName))
    
    -- Kiểm tra tác giả đã tồn tại chưa
    SELECT @AuthorID = AuthorID 
    FROM dbo.Author 
    WHERE Name = @CleanAuthorName
    
    -- Nếu chưa tồn tại thì tạo mới
    IF @AuthorID IS NULL
    BEGIN
        -- Tạo AuthorID mới với format AUT + timestamp + random
        DECLARE @timestamp VARCHAR(6) = RIGHT(CAST(CAST(GETDATE() AS FLOAT) * 100000 AS BIGINT), 6)
        DECLARE @random VARCHAR(3) = RIGHT('000' + CAST(ABS(CHECKSUM(NEWID())) % 1000 AS VARCHAR(3)), 3)
        SET @AuthorID = 'AUT' + @timestamp + @random
        
        -- Đảm bảo AuthorID không trùng lặp
        WHILE EXISTS (SELECT 1 FROM dbo.Author WHERE AuthorID = @AuthorID)
        BEGIN
            SET @random = RIGHT('000' + CAST(ABS(CHECKSUM(NEWID())) % 1000 AS VARCHAR(3)), 3)
            SET @AuthorID = 'AUT' + @timestamp + @random
        END
        
        INSERT INTO dbo.Author (AuthorID, Name)
        VALUES (@AuthorID, @CleanAuthorName)
    END
END
GO

-- Trigger tự động ánh xạ Author khi INSERT vào Books
CREATE OR ALTER TRIGGER TR_Books_AutoMapAuthor_Insert
ON dbo.Books
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON
    
    -- Xử lý cho mỗi record được insert
    DECLARE @BookID NVARCHAR(20), @Author NVARCHAR(255)
    DECLARE @AuthorID NVARCHAR(10), @CleanAuthor NVARCHAR(255)
    
    DECLARE author_cursor CURSOR FOR
    SELECT BookID, Author FROM inserted
    WHERE Author IS NOT NULL AND LTRIM(RTRIM(Author)) <> ''
    
    OPEN author_cursor
    FETCH NEXT FROM author_cursor INTO @BookID, @Author
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Xử lý trường hợp có nhiều tác giả (phân tách bằng dấu phẩy hoặc &)
        DECLARE @AuthorList TABLE (AuthorName NVARCHAR(255))
        
        -- Tách tác giả bằng dấu phẩy
        INSERT INTO @AuthorList
        SELECT LTRIM(RTRIM(value)) as AuthorName
        FROM STRING_SPLIT(@Author, ',')
        WHERE LTRIM(RTRIM(value)) <> ''
        
        -- Nếu không có dấu phẩy, thử tách bằng dấu &
        IF NOT EXISTS (SELECT 1 FROM @AuthorList)
        BEGIN
            INSERT INTO @AuthorList
            SELECT LTRIM(RTRIM(value)) as AuthorName
            FROM STRING_SPLIT(@Author, '&')
            WHERE LTRIM(RTRIM(value)) <> ''
        END
        
        -- Nếu vẫn không có, thêm toàn bộ chuỗi
        IF NOT EXISTS (SELECT 1 FROM @AuthorList)
        BEGIN
            INSERT INTO @AuthorList VALUES (@Author)
        END
        
        -- Thêm mỗi tác giả vào bảng Author và BookAuthor
        DECLARE single_author_cursor CURSOR FOR
        SELECT AuthorName FROM @AuthorList
        
        OPEN single_author_cursor
        FETCH NEXT FROM single_author_cursor INTO @CleanAuthor
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Lấy hoặc tạo AuthorID
            EXEC dbo.GetOrCreateAuthorID @CleanAuthor, @AuthorID OUTPUT
            
            -- Thêm vào BookAuthor nếu chưa tồn tại
            IF NOT EXISTS (
                SELECT 1 FROM dbo.BookAuthor 
                WHERE BookID = @BookID AND AuthorID = @AuthorID
            )
            BEGIN
                INSERT INTO dbo.BookAuthor (BookID, AuthorID, AuthorName)
                VALUES (@BookID, @AuthorID, @CleanAuthor)
            END
            
            FETCH NEXT FROM single_author_cursor INTO @CleanAuthor
        END
        
        CLOSE single_author_cursor
        DEALLOCATE single_author_cursor
        
        -- Xóa bảng tạm cho record tiếp theo
        DELETE FROM @AuthorList
        
        FETCH NEXT FROM author_cursor INTO @BookID, @Author
    END
    
    CLOSE author_cursor
    DEALLOCATE author_cursor
END
GO

-- Trigger tự động ánh xạ Author khi UPDATE vào Books
CREATE OR ALTER TRIGGER TR_Books_AutoMapAuthor_Update
ON dbo.Books
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON
    
    -- Chỉ xử lý khi cột Author được thay đổi
    IF UPDATE(Author)
    BEGIN
        DECLARE @BookID NVARCHAR(20), @NewAuthor NVARCHAR(255), @OldAuthor NVARCHAR(255)
        DECLARE @AuthorID NVARCHAR(10), @CleanAuthor NVARCHAR(255)
        
        DECLARE author_cursor CURSOR FOR
        SELECT i.BookID, i.Author, d.Author
        FROM inserted i
        JOIN deleted d ON i.BookID = d.BookID
        WHERE i.Author IS NOT NULL AND LTRIM(RTRIM(i.Author)) <> ''
        AND (i.Author <> d.Author OR d.Author IS NULL)
        
        OPEN author_cursor
        FETCH NEXT FROM author_cursor INTO @BookID, @NewAuthor, @OldAuthor
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Xóa các ánh xạ cũ
            DELETE FROM dbo.BookAuthor WHERE BookID = @BookID
            
            -- Xử lý tác giả mới (logic tương tự như trigger INSERT)
            DECLARE @AuthorList TABLE (AuthorName NVARCHAR(255))
            
            INSERT INTO @AuthorList
            SELECT LTRIM(RTRIM(value)) as AuthorName
            FROM STRING_SPLIT(@NewAuthor, ',')
            WHERE LTRIM(RTRIM(value)) <> ''
            
            IF NOT EXISTS (SELECT 1 FROM @AuthorList)
            BEGIN
                INSERT INTO @AuthorList
                SELECT LTRIM(RTRIM(value)) as AuthorName
                FROM STRING_SPLIT(@NewAuthor, '&')
                WHERE LTRIM(RTRIM(value)) <> ''
            END
            
            IF NOT EXISTS (SELECT 1 FROM @AuthorList)
            BEGIN
                INSERT INTO @AuthorList VALUES (@NewAuthor)
            END
            
            DECLARE single_author_cursor CURSOR FOR
            SELECT AuthorName FROM @AuthorList
            
            OPEN single_author_cursor
            FETCH NEXT FROM single_author_cursor INTO @CleanAuthor
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                EXEC dbo.GetOrCreateAuthorID @CleanAuthor, @AuthorID OUTPUT
                
                INSERT INTO dbo.BookAuthor (BookID, AuthorID, AuthorName)
                VALUES (@BookID, @AuthorID, @CleanAuthor)
                
                FETCH NEXT FROM single_author_cursor INTO @CleanAuthor
            END
            
            CLOSE single_author_cursor
            DEALLOCATE single_author_cursor
            
            DELETE FROM @AuthorList
            FETCH NEXT FROM author_cursor INTO @BookID, @NewAuthor, @OldAuthor
        END
        
        CLOSE author_cursor
        DEALLOCATE author_cursor
    END
END
GO
